<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Energy Sources in US</title>
  <!-- Bootstrap & Jquerrty -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Leaflet  -->
  <link rel="stylesheet" href="static/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="">
  <script src="static/leaflet.js.download"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- LOCAL JS -->
  <script type="text/javascript" src="/static/js/app.js"></script>
</head>

<body>
  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(25, 114, 47);">
    <div class="container">
      <h1 class="text-center">Going Green</h1>
    </div>
  </nav>

  <div class="container"></div>
  
  <!-- IMAGE -->
    <div class="row">
      <div class="thumbnail text-center">
        <img src="static/field.jpg" alt="windmills" class="img-responsive">
        <div class="caption">
          <p>This project displays data related to energy sources
            used in the US over the last 3 decades.</p>
        </div>
      </div>
    </div>

    <!-- MAP PLACEHOLDER -->
    <div class="row" id="map">
      <div class="col-12" style="padding-bottom: 20px; padding-top: 20px;">
        <img src="static/map.jpg" alt="map of the US" class="img-responsive">
      </div>
    </div>

    <div class="row">
      
      <!-- LINE GRAPH PLACEHOLDER -->
      <div class=" col-md-6 text-center" id="line_graph">
      <h1>LINE GRAPH</h1>
      <img src=" static/line.png" alt="line graph" class="img-responsive">
      </div>

      <!-- BAR GRAPH PLACEHOLDER -->
      <div class="col-md-6 text-center" id="bar_graph">
        <h1>BAR GRAPH</h1>
        <img src="static/bar.gif" alt="bar graph" class="img-responsive">
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <h1>Team 1</h1>
      </div>
      <div class="text-center">
        <p>Luke, Erica, Noaman, Jonathan, Clarence</p>
      </div>
    </div>
  </div>
</body>

</html>