/* Add your styles here */
body { background-color: #f1f1f1;}
.navbar{
    background-color: #5191fd;
    padding:10px;
}
.navbar li{
    display:inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left:10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
}
.navbar li a{
    color: black;
    text-decoration: none;

}
.header{
    background-color: #cdcdcd;
    padding: 20px;
}
h1 {
    font-size: 80px;
}
h3{
    font-size: 30px;
}
.header h1 {
    padding: 60px;
    margin:0;
    color: #000;
    text-align: center;
}
.post{
    margin: 50px 100px 0 100px;
}
.background{
    color:#000;
    opacity:0.5 
}