<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Energy Resources in US</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1>Energy Sources in US </h1>

  </nav>

  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="static/field.jpg" width=100% padding-top: 8rem; padding-bottom: 8rem;>
        </div>
      </div>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <h2></h2>
      </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="key">
            <p class="key"> Select a Year:</p>
            <form action="/results" , method="POST">
              <input type="number" min="1990" max="2018" placeholder="1990" class="slider" id="myRange"></p> <br>

              <input type="checkbox" id="Green Resources" name="Green Resources" checked>
              <label for="Green Resources"> GREEN ENERGY</label><br>

              <input type="checkbox" id="Wind" name="Wind">
              <label for="Wind"> Wind</label><br>

              <input type="checkbox" id="Hydroelectric Conventional" name="Hydroelectric Conventional">
              <label for="Hydroelectric Conventional"> Hydroelectric</label><br>

              <input type="checkbox" id="Solar Thermal and Photovoltaic" name="Solar Thermal and Photovoltaic">
              <label for="Solar Thermal and Photovoltaic"> Solar</label><br>
              

              <input type="checkbox" id="Nuclear" class="Green" name="Nuclear">
              <label for="Nuclear"> Nuclear</label><br>

              <input type="checkbox" id="Geothermal" class="Green" name="Geothermal">
              <label for="Geothermal"> Geothermal</label><br>

              <input type="checkbox" id="Pumped Storage" class="Green" name="Pumped Storage">
              <label for="Pumped Storage"> Pumped Storage</label><br>
              <br>

              <input type="checkbox" id="Conventional Resources" class="Conventional" name="Conventional Resources"
                checked>
              <label for="Conventional Resources"> CONVENTIONAL ENERGY</label><br>


              <input type="checkbox" id="Coal" name="Coal">
              <label for="Coal"> Coal</label><br>

              <input type="checkbox" id="Natural Gas" name="Natural Gas">
              <label for="Natural Gas"> Natural Gas</label><br>

              <input type="checkbox" id="Petroleum" name="Petroleum">
              <label for="Petroleum"> Petroleum</label><br>

              <input type="checkbox" id="Wood and Wood Derived Fuels" name="Wood and Wood Derived Fuels">
              <label for="Wood and Wood Derived Fuels"> Wood/Wood Derived</label><br>

              <input type="checkbox" id="Other Biomass" name="Other Biomass">
              <label for="Other Biomass"> Other Biomass</label><br>

              <input type="checkbox" id="Other Gases" name="Other Gases">
              <label for="Other Gases"> Other Gases</label><br>

              <input type="checkbox" id="Other" name="Other">
              <label for="Other"> Other</label><br>
              <br>
              <input type="submit" value="submit" />
            </form>
          </div>
        </div>
        <div class="col-8">
          <h1> Energy Sources by State</h1>
          <!-- <div style="display: table;"> -->
          <div src=MAP style="float:right; width:70%"> </div>
        </div>
      </div>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2></h2>
    </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="media">
          <img class="align-self-start mr-3" src="..." alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Bar Chart: Green vs Conventional Energy by State</h5>
            <div id="plot"></div>
            <p>This can be a quick sentence about the barchart.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="media">
          <img class="align-self-start mr-3" src="...">
          <div class="media-body">
            <h5 class="mt-0">Line Graph</h5>
            <div id = "plot1">
            <p>This can be a quick sentence about the line graph.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  
  <!-- Javascript initialization -->
  <!-- <script src=“https://d3js.org/d3.v5.min.js”></script> -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- <script src=“https://cdn.plot.ly/plotly-latest.min.js”></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>


  </body>

</html>